div
{
    text-align: center;
    line-height: 2em;
    font-family:'Heathergreen';
    margin-bottom: 10px;
    padding: 5px;
}

.main-container
{
    border-style: solid ;
    border-width: 8 px;
    border-color: black;

    padding: 15 px;

    background: #3d6b5d;
    width: 80%;
    margin: auto;
}

h1, h2, h3
{
    text-align: center;
    font-family: 'JosefinSans_Semibold';
}

.opening-paragraph
{
    font-size: 30px;
}

.second-paragraph
{
    font-size: 20px;
}

a:link
{
    color:rgb(163, 24, 24);
    text-decoration: none;
}

.text-joke
{
    text-decoration: line-through;
}

.button:hover .change-01
{
    text-decoration-color: black;
}

button{
    background-color: white;
    border: none;
    color: black;
    border: 2px solid rgb(163, 24, 24);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}