@font-face 
{
    font-family:'Antipasto';
    src: url('../fonts/antipasto.regular.ttf') format('truetype');
    font-style: normal;
}

@font-face 
{
    font-family:'Aukrey-mooa-demo';
    src: url('../fonts/aukrey-mooa-demo.demo.ttf') format('truetype');
    font-style: normal;
}

@font-face 
{
    font-family:'winter=friend';
    src: url('../fonts/winter-friend.regular.ttf' ) format('truetype');
    font-style: normal;
}