header
{
    position: fixed;
    margin: auto;
    text-align: center;
    top: 2px;
    left: 2px;
    font-family: Georgia;
    color: black;
    font-size: 10px;
    width: 100%;
}

.menu-item
{
    display: inline-block;
    margin: .05em;
    min-width: 5em;
    text-align: center;
    background-color: darkgrey;
    padding: .05em;
    font-size: 20px;
}

.body-paragraph
{
    background-color: aliceblue;
}

h1
{
    text-align: center;
    color: black;
    font-size: 50px;
    background-color: cadetblue;
    font-variant: small-caps;
}

.paragraph
{
    text-align: center;
    color: cadetblue;
    padding: 10px;
    font-size: 15px;

}

.image
{
    border: 15px;
    color: white;
}

 .textbox
{
    width: 100 px;
    height: 100 px;
    font-family: Georgia;
    background-color: rgb(138, 177, 177);
    border-radius: 20 px;
    padding: 50px;
    margin: 175px;
    text-align: center;
    line-height: 50%;
    overflow: scroll;
}

.pop-up
{
 font-size: 10px;
 padding: 10 px;
 text-align: center;
 color: black;
 background-color: aquamarine;
}

.hidden-content
{
    display: none;
    font-size: 10px;
}

.image :hover .hidden-content
{
    display: hover;
}
